- const services = [{title: "Network & Security Engineering",text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book",pic: "../../../img/services/1.png"},{title: "Server & Storage Management",text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book",  pic: "../../../img/services/2.png" },{title: "Hardware & Software Installations",text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book", pic: "../../../img/services/3.png"},{title: "Cloud Solutions",text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book", pic: "../../../img/services/4.png"},{title: "Hosted Email & Collaboration Suites",text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book", pic: "../../../img/services/5.png"}]
- const textServices = "Fieldmagic is the most comprehensive field service & asset management platform on the market, combining ease of use, performance and flexibility with out of the box integration with all major accounting and ERP platforms."

.services
    .content
        .content-heading
            h1 Our Services
            p= textServices
        .content-more
            each obj in services
                .content-more__block
                    .content-more__image
                        img(src=obj.pic alt="")
                    .content-more__title
                        h2= obj.title
                    .content-more__text
                        p= obj.text
            .content-more__block
                .content-more__subscribe__title
                    h1 Join & Stay Connect
                .content-more__subscribe__text
                    p Stay updated with the latest news,stories and discounts.
                .content-more__subscribe__input
                    input(
                        type='email',
                        placeholder= 'Email',
                    )